*{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

body{
    /* background: rgb(0, 0, 0, 60%); */
    background-image: url(../img/hack.gif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
form{
    width: 900px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textBox{
    /* background-color: rgb(70, 67, 67); */
    width: 400px;
    height: 150px;

    text-align: justify;
    font-size: 10x;
    
    margin: 20px;
    
}
#submit{
    width: 100px;
    height: 50px;
    font-size: 30px;
 
    border: solid 5px;
    border-radius: 10px;
}
#submit:hover{
    background-color: green;
    color: black;
    border: none;
}

#cifra, #opcoes, #passo, #submit{
    color: green;
    background-color: black;
    border: solid 3px;
    border-color: green;
}
 h3{
     margin-left: 10px;
 }
#opcoes, .conteinerOpc{
    display: flex;
    justify-content: space-evenly;

}
#botao{
    margin: 20px;
}
#passo, #botao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#conteinerBoxText{
    width: 100%;
    display: flex;
    justify-content: space-between;

}